In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import plotly
plotly.offline.init_notebook_mode(connected=True)

In [33]:

file1 = r'C:\Users\Josè Valencia\Desktop\varie\Barcelona Master\life\Catalunya\barcelona2018.csv'

file2 = r'C:\Users\Josè Valencia\Desktop\varie\Barcelona Master\life\Catalunya\bcn2018edad.csv'

In [34]:
d1, d2 = pd.read_csv(file1), pd.read_csv(file2)

In [35]:
d1.head()

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Moviment,Nacionalitat,Nombre
0,2018,1,Ciutat Vella,1,el Raval,Alta,Espanyols,1223
1,2018,1,Ciutat Vella,2,el Barri Gòtic,Alta,Espanyols,407
2,2018,1,Ciutat Vella,3,la Barceloneta,Alta,Espanyols,440
3,2018,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Alta,Espanyols,568
4,2018,2,Eixample,5,el Fort Pienc,Alta,Espanyols,850

In [37]:
d2.head()

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Sexe,Barri,Edat_mitjana
0,2018,1,Ciutat Vella,1,el Raval,Home,Barri d'alta,32.5
1,2018,1,Ciutat Vella,2,el Barri Gòtic,Home,Barri d'alta,33.7
2,2018,1,Ciutat Vella,3,la Barceloneta,Home,Barri d'alta,34.1
3,2018,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Home,Barri d'alta,32.9
4,2018,2,Eixample,5,el Fort Pienc,Home,Barri d'alta,33.3

In [43]:
df = d1.drop(['Moviment'], axis=1)

In [49]:
df.head()

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Nacionalitat,Nombre,Edad_mitjana,Sexe
0,2018,1,Ciutat Vella,1,el Raval,Espanyols,1223,32.5,Home
1,2018,1,Ciutat Vella,2,el Barri Gòtic,Espanyols,407,33.7,Home
2,2018,1,Ciutat Vella,3,la Barceloneta,Espanyols,440,34.1,Home
3,2018,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Espanyols,568,32.9,Home
4,2018,2,Eixample,5,el Fort Pienc,Espanyols,850,33.3,Home

In [62]:
file3 = r'C:\Users\Josè Valencia\Desktop\varie\Barcelona Master\life\Catalunya\barcelona2017.csv'
file4 = r'C:\Users\Josè Valencia\Desktop\varie\Barcelona Master\life\Catalunya\bcn2017rent.csv'
file5 = r'C:\Users\Josè Valencia\Desktop\varie\Barcelona Master\life\Catalunya\bcn2018rent.csv'

In [63]:
d3, d4, d5 = pd.read_csv(file3), pd.read_csv(file4), pd.read_csv(file5)

In [65]:
d5.head()

,Any,Trimestre,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Lloguer_mitja,Preu
0,2018,1,1,Ciutat Vella,1,el Raval,Lloguer mitjà mensual (Euros/mes),792.74
1,2018,1,1,Ciutat Vella,2,el Barri Gòtic,Lloguer mitjà mensual (Euros/mes),998.40
2,2018,1,1,Ciutat Vella,3,la Barceloneta,Lloguer mitjà mensual (Euros/mes),870.84
3,2018,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Lloguer mitjà mensual (Euros/mes),923.44
4,2018,1,2,Eixample,5,el Fort Pienc,Lloguer mitjà mensual (Euros/mes),910.53

In [60]:
d4.Lloguer_mitja.value_counts()

Lloguer mitjà per superfície (Euros/m2 mes)    292
Lloguer mitjà mensual (Euros/mes)              292
Name: Lloguer_mitja, dtype: int64

In [68]:
df['LLoguer_mitja'] = d5.Lloguer_mitja

In [75]:
df =df.drop('Nacionalitat', axis=1)

In [76]:
df.head()

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Nombre,Edad_mitjana,Sexe,Preu,LLoguer_mitja
0,2018,1,Ciutat Vella,1,el Raval,1223,32.5,Home,792.74,Lloguer mitjà mensual (Euros/mes)
1,2018,1,Ciutat Vella,2,el Barri Gòtic,407,33.7,Home,998.40,Lloguer mitjà mensual (Euros/mes)
2,2018,1,Ciutat Vella,3,la Barceloneta,440,34.1,Home,870.84,Lloguer mitjà mensual (Euros/mes)
3,2018,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",568,32.9,Home,923.44,Lloguer mitjà mensual (Euros/mes)
4,2018,2,Eixample,5,el Fort Pienc,850,33.3,Home,910.53,Lloguer mitjà mensual (Euros/mes)

In [82]:
d3.head()

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Moviment,Nacionalitat,Nombre
0,2017,1,Ciutat Vella,1,el Raval,alta,Espanyols,1320
1,2017,1,Ciutat Vella,2,el Barri Gòtic,alta,Espanyols,376
2,2017,1,Ciutat Vella,3,la Barceloneta,alta,Espanyols,461
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",alta,Espanyols,608
4,2017,2,Eixample,5,el Fort Pienc,alta,Espanyols,883

In [83]:
file77 = r'C:\Users\Josè Valencia\Desktop\varie\Barcelona Master\life\Catalunya\bcn2017edad.csv'
edad = pd.read_csv(file77)
edad.head()

,Any,Codi_Districte_alta,Nom_Districte_alta,Codi_Barri_alta,Nom_Barri_alta,Sexe_alta,Edat _mitjana_alta,Codi_Districte_baixa,Nom_Districte_baixa,Codi_Barri_baixa,Nom_Barri_baixa,Sexe_baixa,Edat_mitjana_baixa
0,2017,1,Ciutat Vella,1,el Raval,Homes,32.4,1,Ciutat Vella,1,el Raval,Homes,32.7
1,2017,1,Ciutat Vella,2,el Barri Gòtic,Homes,33.8,1,Ciutat Vella,2,el Barri Gòtic,Homes,33.8
2,2017,1,Ciutat Vella,3,la Barceloneta,Homes,33.2,1,Ciutat Vella,3,la Barceloneta,Homes,34.3
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Homes,32.4,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Homes,32.8
4,2017,2,Eixample,5,el Fort Pienc,Homes,33.5,2,Eixample,5,el Fort Pienc,Homes,33.3

In [102]:
c = px.scatter(data_frame=df, x = 'Edad_mitjana', y ='Preu', size = 'Nombre', color ='Sexe', log_y=True)
c.show()

In [87]:
import statsmodels.formula.api as smf
import statsmodels.api as sm

In [88]:
col = ['Nom_Barri', 'Codi_Districte', 'Codi_Barri']
bcn = df.drop(col, axis=1)
bcn.head()

,Any,Nom_Districte,Nombre,Edad_mitjana,Sexe,Preu,LLoguer_mitja
0,2018,Ciutat Vella,1223,32.5,Home,792.74,Lloguer mitjà mensual (Euros/mes)
1,2018,Ciutat Vella,407,33.7,Home,998.40,Lloguer mitjà mensual (Euros/mes)
2,2018,Ciutat Vella,440,34.1,Home,870.84,Lloguer mitjà mensual (Euros/mes)
3,2018,Ciutat Vella,568,32.9,Home,923.44,Lloguer mitjà mensual (Euros/mes)
4,2018,Eixample,850,33.3,Home,910.53,Lloguer mitjà mensual (Euros/mes)

In [89]:
barcelona = pd.get_dummies(bcn, drop_first=True)
barcelona.head()

,Any,Nombre,Edad_mitjana,Preu,Nom_Districte_Eixample,Nom_Districte_Gràcia,Nom_Districte_Horta-Guinardó,Nom_Districte_Les Corts,Nom_Districte_Nou Barris,Nom_Districte_Sant Andreu,Nom_Districte_Sant Martí,Nom_Districte_Sants-Montjuïc,Nom_Districte_Sarrià-Sant Gervasi,Sexe_Home
0,2018,1223,32.5,792.74,0,0,0,0,0,0,0,0,0,1
1,2018,407,33.7,998.40,0,0,0,0,0,0,0,0,0,1
2,2018,440,34.1,870.84,0,0,0,0,0,0,0,0,0,1
3,2018,568,32.9,923.44,0,0,0,0,0,0,0,0,0,1
4,2018,850,33.3,910.53,1,0,0,0,0,0,0,0,0,1

In [103]:
barcelona = barcelona.drop(['Any', 'Preu'], axis=1)

KeyError: "['Any' 'Preu'] not found in axis"

In [92]:
Preu = df.Preu

In [104]:
barcelona.head()

,const,Nombre,Edad_mitjana,Nom_Districte_Eixample,Nom_Districte_Gràcia,Nom_Districte_Horta-Guinardó,Nom_Districte_Les Corts,Nom_Districte_Nou Barris,Nom_Districte_Sant Andreu,Nom_Districte_Sant Martí,Nom_Districte_Sants-Montjuïc,Nom_Districte_Sarrià-Sant Gervasi,Sexe_Home
0,1.0,1223,32.5,0,0,0,0,0,0,0,0,0,1
1,1.0,407,33.7,0,0,0,0,0,0,0,0,0,1
2,1.0,440,34.1,0,0,0,0,0,0,0,0,0,1
3,1.0,568,32.9,0,0,0,0,0,0,0,0,0,1
4,1.0,850,33.3,1,0,0,0,0,0,0,0,0,1

In [105]:
barcelona = sm.add_constant(barcelona, prepend=True)

c:\users\josè valencia\appdata\local\programs\python\python38\lib\site-packages\numpy\core\fromnumeric.py:2495: FutureWarning:

Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.

In [106]:
Preu = np.log(Preu)

In [108]:
models = sm.OLS(Preu, barcelona)
model=models.fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   Preu   R-squared:                         nan
Model:                            OLS   Adj. R-squared:                    nan
Method:                 Least Squares   F-statistic:                       nan
Date:                Tue, 23 Jun 2020   Prob (F-statistic):                nan
Time:                        12:17:54   Log-Likelihood:                    nan
No. Observations:                 292   AIC:                               nan
Df Residuals:                     279   BIC:                               nan
Df Model:                          12
Covariance Type:            nonrobust
=====================================================================================================
                                        coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------
const                                    nan        nan        nan        nan         nan         nan
Nombre                                   nan        nan        nan        nan         nan         nan
Edad_mitjana                             nan        nan        nan        nan         nan         nan
Nom_Districte_Eixample                   nan        nan        nan        nan         nan         nan
Nom_Districte_Gràcia                     nan        nan        nan        nan         nan         nan
Nom_Districte_Horta-Guinardó             nan        nan        nan        nan         nan         nan
Nom_Districte_Les Corts                  nan        nan        nan        nan         nan         nan
Nom_Districte_Nou Barris                 nan        nan        nan        nan         nan         nan
Nom_Districte_Sant Andreu                nan        nan        nan        nan         nan         nan
Nom_Districte_Sant Martí                 nan        nan        nan        nan         nan         nan
Nom_Districte_Sants-Montjuïc             nan        nan        nan        nan         nan         nan
Nom_Districte_Sarrià-Sant Gervasi        nan        nan        nan        nan         nan         nan
Sexe_Home                                nan        nan        nan        nan         nan         nan
==============================================================================
Omnibus:                          nan   Durbin-Watson:                     nan
Prob(Omnibus):                    nan   Jarque-Bera (JB):                  nan
Skew:                             nan   Prob(JB):                          nan
Kurtosis:                         nan   Cond. No.                     1.51e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.51e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [141]:
y, x = [Preu], barcelona.Edad_mitjana

In [142]:
x = sm.add_constant(x, prepend=True)

c:\users\josè valencia\appdata\local\programs\python\python38\lib\site-packages\numpy\core\fromnumeric.py:2495: FutureWarning:

Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.

22

In [143]:
from sklearn.impute import SimpleImputer

In [144]:
X = SimpleImputer(missing_values=np.NaN, strategy='mean')

In [189]:
y = X.fit_transform(y)

ValueError: Expected 2D array, got 1D array instead:
array=[1.8984434  1.9324129  1.91242106 1.9210473  1.91898326 1.91459258
 1.95768478 1.94227908 1.92487183 1.91727145 1.89668555 1.89043833
 1.90749003 1.89107564 1.89712342 1.89297706 1.90030086 1.93298303
 1.92500259 2.01430177 1.91657042 1.96435087 1.99960056 1.96417899
 1.97103514 1.92467622 1.91501221 1.88832809 1.90269669 1.91721754
 1.91472594 1.90577086 1.88422879 1.88742057 1.90424199 1.86458097
 1.87761063 1.86780111 1.88345146 1.91298977 1.88974137 1.8841108
 1.8740813  1.87185268 1.87632912 1.88279308 1.85722036 1.86210726
 1.86447107 1.85391061 1.82918796 1.85292671 1.87028748 1.88905897
 1.8869366  1.89092761 1.89796254 1.8971406  1.89491534 1.91991148
 1.96690956 1.91942734 1.95449307 1.87571739 1.92626476 1.89040417
 1.8829399  1.90365512 1.93611302 1.92104889 1.93139213 1.92410614
 1.91619705 1.96589602 1.94347624 1.92905183 1.91848102 1.89758836
 1.88377943 1.90613648 1.90006406 1.89156056 1.89116757 1.90198514
 1.93813055 1.92660531 1.99532062 1.91059137 1.9733425  1.9866438
 1.96871699 1.9729046  1.92865804 1.92349617 1.88312693 1.91455421
 1.91943537 1.91486749 1.90301817 1.88753975 1.89182918 1.89145295
 1.86517047 1.87574434 1.86749808 1.88311206 1.91137871 1.88858915
 1.88536747 1.88263543 1.8724985  1.88481508 1.87104562 1.84933695
 1.86312048 1.87000646 1.84890994 1.8040572  1.82425142 1.85537187
 1.87688685 1.89064108 1.89950671 1.89033985 1.89939608 1.90110501
 1.90273326 1.95855152 1.96872674 1.9268677  1.97732545 1.86805588
 1.91948675 1.8993473  1.88382591 1.90871787 1.93444004 1.91550501
 1.92837088 1.92805306 1.92285043 1.96064358 1.95096214 1.93320662
 1.92826453 1.90386554 1.89114559 1.91251772 1.90250085 1.90535764
 1.89731608 1.90997738 1.94345764 1.93455274 2.01792265 1.9466449
 1.98443989 2.01023728 1.97232425 1.9776461  1.93568696 1.91822186
 1.89138117 1.91233113 1.92103937 1.9212644  1.90698676 1.89345108
 1.89940359 1.91339109 1.86938141 1.88084555 1.87082446 1.89286075
 1.90391447 1.89101565 1.8886523  1.88224689 1.87579597 1.88660813
 1.88295692 1.86540603 1.8606572  1.87239722 1.85178002 1.83144234
 1.85527773 1.87824678 1.89544622 1.896607   1.89750274 1.90417329
 1.90484239 1.90260155 1.91689357 1.9682263  1.93362676 1.90323144
 1.87942483 1.92177161 1.90045911 1.89350604 1.90481001 1.94067302
 1.91941288 1.93271999 1.93017425 1.92208662 1.97417941 1.95442983
 1.93516157 1.92676311 1.90235241 1.89572822 1.90170901 1.90184899
 1.90446589 1.90551342 1.90612935 1.93711884 1.92672216 1.9997599
 1.91700165 1.98243245 1.99572004 1.96811094 1.97769644 1.93713002
 1.92845171 1.88988469 1.92209763 1.92162013 1.92454667 1.90476862
 1.88540087 1.89912379 1.9071724  1.86901347 1.88418034 1.87221057
 1.89029763 1.91340287 1.88916653 1.89658016 1.88462414 1.8778849
 1.88145132 1.89492699 1.85472203 1.86806777 1.87921062 1.84924673
 1.83149839 1.84625502 1.87376487 1.87876799 1.89642673 1.89949359
 1.90069149 1.90708227 1.90911181 1.90629133 1.92342769 1.96908589
 1.92832146 1.97075522 1.88215065 1.93259116 1.90412266 1.8913293 ].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [190]:
df.Preu.isnull().sum()

22

In [205]:
q = [Preu]
a = SimpleImputer(missing_values= np.NaN, strategy='mean')
a.fit(q)

SimpleImputer(add_indicator=False, copy=True, fill_value=None,
              missing_values=nan, strategy='mean', verbose=0)

In [206]:
y = a.transform(q)

In [212]:
y = np.squeeze(y)

In [222]:
df.isnull().sum()

Any                0
Codi_Districte     0
Nom_Districte      0
Codi_Barri         0
Nom_Barri          0
Nombre             0
Edad_mitjana       0
Sexe               0
Preu              22
LLoguer_mitja      0
dtype: int64

In [223]:
df1 = df.dropna(axis=0)

In [224]:
df1.isnull().sum()

Any               0
Codi_Districte    0
Nom_Districte     0
Codi_Barri        0
Nom_Barri         0
Nombre            0
Edad_mitjana      0
Sexe              0
Preu              0
LLoguer_mitja     0
dtype: int64

In [225]:
df1.head()

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Nombre,Edad_mitjana,Sexe,Preu,LLoguer_mitja
0,2018,1,Ciutat Vella,1,el Raval,1223,32.5,Home,792.74,Lloguer mitjà mensual (Euros/mes)
1,2018,1,Ciutat Vella,2,el Barri Gòtic,407,33.7,Home,998.40,Lloguer mitjà mensual (Euros/mes)
2,2018,1,Ciutat Vella,3,la Barceloneta,440,34.1,Home,870.84,Lloguer mitjà mensual (Euros/mes)
3,2018,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",568,32.9,Home,923.44,Lloguer mitjà mensual (Euros/mes)
4,2018,2,Eixample,5,el Fort Pienc,850,33.3,Home,910.53,Lloguer mitjà mensual (Euros/mes)

In [226]:
y = df1.Preu

In [232]:
l = ['Codi_Barri', 'Codi_Districte', 'Preu', 'Any', 'Nom_Barri']
x = df1.drop(l, axis=1)
X = pd.get_dummies(x, drop_first=True)
X.head()

,Nombre,Edad_mitjana,Nom_Districte_Eixample,Nom_Districte_Gràcia,Nom_Districte_Horta-Guinardó,Nom_Districte_Les Corts,Nom_Districte_Nou Barris,Nom_Districte_Sant Andreu,Nom_Districte_Sant Martí,Nom_Districte_Sants-Montjuïc,Nom_Districte_Sarrià-Sant Gervasi,Sexe_Home
0,1223,32.5,0,0,0,0,0,0,0,0,0,1
1,407,33.7,0,0,0,0,0,0,0,0,0,1
2,440,34.1,0,0,0,0,0,0,0,0,0,1
3,568,32.9,0,0,0,0,0,0,0,0,0,1
4,850,33.3,1,0,0,0,0,0,0,0,0,1

In [233]:
X = sm.add_constant(X)

In [234]:
mo = sm.OLS(y, X)
m1 = mo.fit()
print(m1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   Preu   R-squared:                       0.635
Model:                            OLS   Adj. R-squared:                  0.618
Method:                 Least Squares   F-statistic:                     37.20
Date:                Tue, 23 Jun 2020   Prob (F-statistic):           2.25e-49
Time:                        16:34:39   Log-Likelihood:                -1718.7
No. Observations:                 270   AIC:                             3463.
Df Residuals:                     257   BIC:                             3510.
Df Model:                          12
Covariance Type:            nonrobust
=====================================================================================================
                                        coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------
const                               649.0861    173.787      3.735      0.000     306.859     991.313
Nombre                               -0.0248      0.020     -1.269      0.206      -0.063       0.014
Edad_mitjana                          9.6308      4.844      1.988      0.048       0.091      19.170
Nom_Districte_Eixample               83.0387     46.897      1.771      0.078      -9.313     175.391
Nom_Districte_Gràcia                -77.0946     49.866     -1.546      0.123    -175.292      21.103
Nom_Districte_Horta-Guinardó       -212.3802     45.908     -4.626      0.000    -302.784    -121.976
Nom_Districte_Les Corts             284.7104     56.676      5.023      0.000     173.102     396.319
Nom_Districte_Nou Barris           -300.1748     45.413     -6.610      0.000    -389.603    -210.747
Nom_Districte_Sant Andreu          -219.1028     48.173     -4.548      0.000    -313.968    -124.238
Nom_Districte_Sant Martí            -33.3735     44.768     -0.745      0.457    -121.532      54.785
Nom_Districte_Sants-Montjuïc       -151.1600     46.518     -3.250      0.001    -242.765     -59.555
Nom_Districte_Sarrià-Sant Gervasi   298.0370     48.331      6.167      0.000     202.862     393.212
Sexe_Home                           -14.8640     19.429     -0.765      0.445     -53.123      23.395
==============================================================================
Omnibus:                       55.642   Durbin-Watson:                   2.294
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              155.236
Skew:                           0.911   Prob(JB):                     1.95e-34
Kurtosis:                       6.237   Cond. No.                     1.73e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.73e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [236]:
df1.columns

Index(['Any', 'Codi_Districte', 'Nom_Districte', 'Codi_Barri', 'Nom_Barri',
       'Nombre', 'Edad_mitjana', 'Sexe', 'Preu', 'LLoguer_mitja'],
      dtype='object')

In [251]:
d3.head()

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Moviment,Nacionalitat,Nombre
0,2017,1,Ciutat Vella,1,el Raval,alta,Espanyols,1320
1,2017,1,Ciutat Vella,2,el Barri Gòtic,alta,Espanyols,376
2,2017,1,Ciutat Vella,3,la Barceloneta,alta,Espanyols,461
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",alta,Espanyols,608
4,2017,2,Eixample,5,el Fort Pienc,alta,Espanyols,883