In [3]:
import pandas as pd
import numpy as np

# Codigo funciones anidado - $Python$

In [1]:
def prestacion_definida(df, fecha_valoracion='31/12/2021', rvs=.015, rvp=.01, h=12, margen_sol=.02,
                        tipo_int=.0022, beta=.15, edad_jubilacion=65):
    import pandas as pd
    import numpy as np
    import planex
    from pandas.core.common import SettingWithCopyWarning
    import warnings
    warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)
    datos = df

    def lx_participes():
        return planex.Prestacion_definida().lx_participes()

    data1 = lx_participes()[0]
    data2 = lx_participes()[1]

    array1 = []
    for i in range(0, len(df['Participe'])):
        array1.append(int(df['Nacimiento'][i].split('/')[2]))

    array2 = []
    for i in range(0, len(df['Participe'])):
        array2.append(int(df['Alta'][i].split('/')[2]))
    r1 = 1 + rvs  ## Revalorizaciòn salarios
    r2 = 1 + rvp  ## Revalorizaciòn pensiones
    interes = (1 + tipo_int)  ##interés
    t1 = np.arange(0, ((120 - edad_jubilacion) * h))  ## mensilidad
    interes3 = interes ** -(t1 / h)  ## fraccionamiento 1/h

    def variation_capital():
        return planex.Prestacion_definida().variation_capital()
    hello = variation_capital()
    ok, ok1 = hello[0], hello[1]

    e1 = round(((pd.to_datetime(datos['Alta'], dayfirst=True) - pd.to_datetime(datos['Nacimiento'], dayfirst=True)) / 365.25) / np.timedelta64(1,
                                                                                                                 'D'))  ## Edad E
    fec_val = []
    for i in range(0, 6):
        fec_val.append(fecha_valoracion)
    fec_val = pd.Series(fec_val)
    act_edad = round(
        ((pd.to_datetime(fec_val, dayfirst=True) - pd.to_datetime(datos['Nacimiento'], dayfirst=True)) / 365.25) / np.timedelta64(1, 'D'))  ## Edad A
    df = df.join(pd.Series(act_edad, name='Edad actuarial'))
    df = df.join(pd.Series(e1, name='Edad entrada'))
    jubi2 = pd.to_numeric(df['Nacimiento'].str.split('/', expand=True)[2]) + edad_jubilacion
    mes = pd.to_numeric(df['Nacimiento'].str.split('/', expand=True)[1])
    df = df.join(pd.Series(jubi2, name='Jubilacion'))
    proyec = round(df['Salario 2021'] * (r1) ** (edad_jubilacion - 1 - df['Edad actuarial']), 2)
    pj = round(beta * proyec / h, 2)
    df['Proyectado'] = proyec
    df['Proyectado'][2] = datos['Salario 2021'][2]

    jubi3 = pd.to_numeric(df['Alta'].str.split('/', expand=True)[2])
    df['PJ corriente'] = pj
    df['PJ corriente'][2] = beta * df['Proyectado'][2] / h
    joan1 = ok['Joan_var'] * (
        (data2.Joan[edad_jubilacion * h + mes[0] + 1:] / data2.Joan[edad_jubilacion * h + mes[0]]).reset_index(
            drop=True))
    pere1 = ok['Pere_var'] * (
        (data2.Pere[edad_jubilacion * h + mes[1] + 1:] / data2.Pere[edad_jubilacion * h + mes[1]]).reset_index(
            drop=True))
    marta1 = ok['Marta_var'] * (
        (data2.Marta[edad_jubilacion * h + mes[2] + 1:] / data2.Marta[edad_jubilacion * h + mes[2]]).reset_index(
            drop=True))
    claudia1 = ok['Claudia_var'] * (
        (data2.Claudia[edad_jubilacion * h + mes[3] + 1:] / data2.Claudia[edad_jubilacion * h + mes[3]]).reset_index(
            drop=True))
    marc1 = ok['Marc_var'] * (
        (data2.Marc[edad_jubilacion * h + mes[4] + 1:] / data2.Marc[edad_jubilacion * h + mes[4]]).reset_index(
            drop=True))
    maria1 = ok['Maria_var'] * (
        (data2.Maria[edad_jubilacion * h + mes[5] + 1:] / data2.Maria[edad_jubilacion * h + mes[5]]).reset_index(
            drop=True))
    new_df = pd.DataFrame({'Joan_VAA': joan1 * interes3, 'Pere_VAA': pere1 * interes3, 'Marta_VAA': marta1 * interes3,
                           'Claudia_VAA': claudia1 * interes3, 'Marc_VAA': marc1 * interes3,
                           'Maria_VAA': maria1 * interes3})
    VAAs = pd.Series(new_df.sum().round(2).to_list(), name='VAAj')

    ## A la fecha actual 2021
    VAA21_joan = round(VAAs[0] * ((1 + tipo_int) ** -(edad_jubilacion - df['Edad actuarial'][0])) * (
            data1['Joan'][edad_jubilacion] / data1['Joan'][df['Edad actuarial'][0]]), 2)
    VAA21_pere = round(VAAs[1] * ((1 + tipo_int) ** -(edad_jubilacion - df['Edad actuarial'][1])) * (
            data1['Pere'][edad_jubilacion] / data1['Pere'][df['Edad actuarial'][1]]), 2)
    VAA21_marta = round(VAAs[2] * ((1 + tipo_int) ** -(edad_jubilacion - df['Edad actuarial'][2])) * (
            data1['Marta'][edad_jubilacion] / data1['Marta'][df['Edad actuarial'][2]]), 2)
    VAA21_claudia = round(VAAs[3] * ((1 + tipo_int) ** -(edad_jubilacion - df['Edad actuarial'][3])) * (
            data1['Claudia'][edad_jubilacion] / data1['Claudia'][df['Edad actuarial'][3]]), 2)
    VAA21_marc = round(VAAs[4] * ((1 + tipo_int) ** -(edad_jubilacion - df['Edad actuarial'][4])) * (
            data1['Marc'][edad_jubilacion] / data1['Marc'][df['Edad actuarial'][4]]), 2)
    VAA21_maria = round(VAAs[5] * ((1 + tipo_int) ** -(edad_jubilacion - df['Edad actuarial'][5])) * (
            data1['Maria'][edad_jubilacion] / data1['Maria'][df['Edad actuarial'][5]]), 2)
    vaas21 = pd.Series([VAA21_joan, VAA21_pere, VAA21_marta, VAA21_claudia, VAA21_marc, VAA21_maria])

    ## A la fecha de alta en la empresa
    VAAp_joan = round(VAAs[0] * ((1 + tipo_int) ** -(jubi2[0] - jubi3[0] + 1)) * (
            data1['Joan'][edad_jubilacion] / data1['Joan'][df['Edad entrada'][0]]), 2)
    VAAp_pere = round(VAAs[1] * ((1 + tipo_int) ** -(jubi2[1] - jubi3[1] + 1)) * (
            data1['Pere'][edad_jubilacion] / data1['Pere'][df['Edad entrada'][1]]), 2)
    VAAp_marta = round(VAAs[2] * ((1 + tipo_int) ** -(jubi2[2] - jubi3[2] + 1)) * (
            data1['Marta'][edad_jubilacion] / data1['Marta'][df['Edad entrada'][2]]), 2)
    VAAp_claudia = round(VAAs[3] * ((1 + tipo_int) ** -(jubi2[3] - jubi3[3] + 1)) * (
            data1['Claudia'][edad_jubilacion] / data1['Claudia'][df['Edad entrada'][3]]), 2)
    VAAp_marc = round(VAAs[4] * ((1 + tipo_int) ** -(jubi2[4] - jubi3[4] + 1)) * (
            data1['Marc'][edad_jubilacion] / data1['Marc'][df['Edad entrada'][4]]), 2)
    VAAp_maria = round(VAAs[5] * ((1 + tipo_int) ** -(jubi2[5] - jubi3[5] + 1)) * (
            data1['Maria'][edad_jubilacion] / data1['Maria'][df['Edad entrada'][5]]), 2)
    vaas_p = pd.Series([VAAp_joan, VAAp_pere, VAAp_marta, VAAp_claudia, VAAp_marc, VAAp_maria])

    ## Coste normal Credito Unitario
    jo1 = vaas21[0] / (edad_jubilacion - df['Edad entrada'][0])
    jo2 = vaas21[1] / (edad_jubilacion - df['Edad entrada'][1])
    jo3 = vaas21[2] / (edad_jubilacion - df['Edad entrada'][2])
    jo4 = vaas21[3] / (edad_jubilacion - df['Edad entrada'][3])
    jo5 = vaas21[4] / (edad_jubilacion - df['Edad entrada'][4])
    jo6 = vaas21[5] / (edad_jubilacion - df['Edad entrada'][5])
    CN_credito = pd.Series([jo1, jo2, jo3, jo4, jo5, jo6])

    ## Valor actual actuarial servicios pasados
    VAASP_CU = pd.Series([CN_credito[0] * (df['Edad actuarial'][0] - df['Edad entrada'][0]),
                          CN_credito[1] * (df['Edad actuarial'][1] - df['Edad entrada'][1]),
                          CN_credito[2] * (df['Edad actuarial'][2] - df['Edad entrada'][2]),
                          CN_credito[3] * (df['Edad actuarial'][3] - df['Edad entrada'][3]),
                          CN_credito[4] * (df['Edad actuarial'][4] - df['Edad entrada'][4]),
                          CN_credito[5] * (df['Edad actuarial'][5] - df['Edad entrada'][5])])
    ## Margen de solvencia
    margen_CU = VAASP_CU * margen_sol

    ## dataframe Credito Unitario
    CU = pd.DataFrame({'VAAj': VAAs, 'VAA 31/12/2021': vaas21,
                       'CN 31/12/2021': CN_credito, 'VAASP 31/12/2021': VAASP_CU, 'MS 31/12/2021': margen_CU}).round(2)
    CU.index = df['Participe'].to_list()
    CU['VAASF 31/12/2021'] = CU.iloc[:, 1] - CU.iloc[:, 3]

    ## Edad de entrada - Coste Normal a la alta
    tiempo1 = np.arange(0, (edad_jubilacion - df['Edad entrada'][0]))
    # jo_1 =
    jo_1 = vaas_p[0] / sum(((1 + rvs) ** tiempo1 * (1 + tipo_int) ** -(tiempo1)) * (
            data1['Joan'][df['Edad entrada'][0] + tiempo1] / data1['Joan'][df['Edad entrada'][0]]))
    tiempo2 = np.arange(0, (edad_jubilacion - df['Edad entrada'][1]))
    # jo_2 =
    jo_2 = vaas_p[1] / sum(((1 + rvs) ** tiempo2 * (1 + tipo_int) ** -(tiempo2)) * (
            data1['Pere'][df['Edad entrada'][1] + tiempo2] / data1['Pere'][df['Edad entrada'][1]]))
    tiempo3 = np.arange(0, (edad_jubilacion - df['Edad entrada'][2]))
    # jo_3 =
    jo_3 = vaas_p[2] / sum(((1 + rvs) ** tiempo3 * (1 + tipo_int) ** -(tiempo3)) * (
            data1['Marta'][df['Edad entrada'][2] + tiempo3] / data1['Claudia'][df['Edad entrada'][2]]))
    tiempo4 = np.arange(0, (edad_jubilacion - df['Edad entrada'][3]))
    # jo_4 =
    jo_4 = vaas_p[3] / sum(((1 + rvs) ** tiempo4 * (1 + tipo_int) ** -(tiempo4)) * (
            data1['Claudia'][df['Edad entrada'][3] + tiempo4] / data1['Marta'][df['Edad entrada'][3]]))
    tiempo5 = np.arange(0, (edad_jubilacion - df['Edad entrada'][4]))
    # jo_5 =
    jo_5 = vaas_p[4] / sum(((1 + rvs) ** tiempo5 * (1 + tipo_int) ** -(tiempo5)) * (
            data1['Marc'][df['Edad entrada'][4] + tiempo5] / data1['Marc'][df['Edad entrada'][4]]))
    tiempo6 = np.arange(0, (edad_jubilacion - df['Edad entrada'][5]))
    # jo_6 =
    jo_6 = vaas_p[5] / sum(((1 + rvs) ** tiempo6 * (1 + tipo_int) ** -(tiempo6)) * (
            data1['Maria'][df['Edad entrada'][5] + tiempo6] / data1['Maria'][df['Edad entrada'][5]]))
    CN_EE = pd.Series([jo_1, jo_2, jo_3, jo_4, jo_5, jo_6]).round(2)  ## Coste Normal Edad de entrada en el 0

    # Coste Normal en el 2021 de los participes
    p1 = CN_EE[0] * (1 + rvs) ** (df['Edad actuarial'][0] - df['Edad entrada'][0])
    p2 = CN_EE[1] * (1 + rvs) ** (df['Edad actuarial'][1] - df['Edad entrada'][1])
    p3 = CN_EE[2] * (1 + rvs) ** (df['Edad actuarial'][2] - df['Edad entrada'][2])
    p4 = CN_EE[3] * (1 + rvs) ** (df['Edad actuarial'][3] - df['Edad entrada'][3])
    p5 = CN_EE[4] * (1 + rvs) ** (df['Edad actuarial'][4] - df['Edad entrada'][4])
    p6 = CN_EE[5] * (1 + rvs) ** (df['Edad actuarial'][5] - df['Edad entrada'][5])

    CN_EE21 = pd.Series([p1, p2, p3, p4, p5, p6]).round(2)

    ## Flujo a Futuro
    def flujo():
        marta_flu = planex.Prestacion_definida().variation_capital()[0]['Marta_var'].shift(2).fillna(0)[:301]
        joan_flu = planex.Prestacion_definida().variation_capital()[0]['Joan_var'].shift(198).fillna(0)[:301]
        flux = pd.DataFrame({'Joan':joan_flu, 'Pere':np.zeros(301),'Marta':marta_flu, 
                        'Claudia':np.zeros(301), 'Marc':np.zeros(301), 
                        'Maria':np.zeros(301)})
        flux['dates'] = pd.date_range(start='2021-12-31', end='2046-12-31', freq='M')
        flux = flux.set_index('dates')
        flux.iloc[-1:, 1] = 672.62
        return flux

    # Valor actual actuarial servicios pasados edad de entradad al 2021
    w1 = np.arange(0, (edad_jubilacion - df['Edad actuarial'][0]))
    joa1 = round(sum(CN_EE21[0] * (1 + rvs) ** w1 * (1 + tipo_int) ** -w1 * (
            data1['Joan'][df['Edad entrada'][0]+(df['Edad actuarial'][0] - df['Edad entrada'][0]) + w1] / data1['Joan'][df['Edad entrada'][0]+(df['Edad actuarial'][0] - df['Edad entrada'][0])])), 2)

    w2 = np.arange(0, (edad_jubilacion - df['Edad actuarial'][1]))
    joa2 = round(sum(CN_EE21[1] * (1 + rvs) ** w2 * (1 + tipo_int) ** -w2 * (
            data1['Pere'][df['Edad entrada'][1]+(df['Edad actuarial'][1] - df['Edad entrada'][1]) + w2] / data1['Pere'][df['Edad actuarial'][1]+(df['Edad actuarial'][1] - df['Edad entrada'][1])])), 2)

    w3 = np.arange(0, (edad_jubilacion - df['Edad actuarial'][2]))
    joa3 = round(sum(CN_EE21[2] * (1 + rvs) ** w3 * (1 + tipo_int) ** -w3 * (
            data1['Marta'][df['Edad entrada'][2]+(df['Edad actuarial'][2] - df['Edad entrada'][2]) + w3] / data1['Marta'][df['Edad entrada'][2]+(df['Edad actuarial'][2] - df['Edad entrada'][2])])), 2)

    w4 = np.arange(0, (edad_jubilacion - df['Edad actuarial'][3]))
    joa4 = round(sum(CN_EE21[3] * (1 + rvs) ** w4 * (1 + tipo_int) ** -w4 * (
            data1['Claudia'][df['Edad entrada'][3]+(df['Edad actuarial'][3] - df['Edad entrada'][3]) + w4] / data1['Claudia'][df['Edad entrada'][3]+(df['Edad actuarial'][3] - df['Edad entrada'][3])])), 2)

    w5 = np.arange(0, (edad_jubilacion - df['Edad actuarial'][4]))
    joa5 = round(sum(CN_EE21[4] * (1 + rvs) ** w5 * (1 + tipo_int) ** -w5 * (
            data1['Marc'][df['Edad entrada'][4]+(df['Edad actuarial'][4] - df['Edad entrada'][4]) + w5] / data1['Marc'][df['Edad entrada'][4]+(df['Edad actuarial'][4] - df['Edad entrada'][4])])), 2)

    w6 = np.arange(0, (edad_jubilacion - df['Edad actuarial'][5]))
    joa6 = round(sum(CN_EE21[5] * (1 + rvs) ** w6 * (1 + tipo_int) ** -w6 * (
            data1['Maria'][df['Edad entrada'][5]+(df['Edad actuarial'][5] - df['Edad entrada'][5]) + w6] / data1['Maria'][df['Edad actuarial'][5]+(df['Edad actuarial'][5] - df['Edad entrada'][5])])), 2)

    serie_vaasp = vaas21 - pd.Series([joa1, joa2, joa3, joa4, joa5, joa6])

    ## Margen metodo de entrada
    mar_EE = serie_vaasp * margen_sol

    df_EE = pd.DataFrame(
        {'VAAj': VAAs, 'VAA 31/12/2021': vaas21, 'CN 31/12/2021': CN_EE21, 'VAASP 31/12/2021': serie_vaasp,
         'VAA en ALTA': vaas_p,
         'MS 31/12/2021': mar_EE.round(2)})
    df_EE['VAASF 31/12/2021'] = df_EE.iloc[:, 1] - df_EE.iloc[:, 3]
    df_EE.index = df['Participe'].to_list()
    print('=' * 100)
    print('Hipotesis')
    print(f'Interés técnico valoración: {tipo_int * 100}%')
    print(f'Revalorizaciòn Salario: {rvs * 100}%')
    print(f'Revalorización Pensión: {rvp * 100}%')
    print(f'Beta Pension: {beta}')
    print('=' * 100)
    print(df.set_index('Participe'))
    # print('=' * 75)
    # print('METODO: Credito Unitario Proyectado')
    # print(round(CU.T, 2))
    # print(CU)
    # print('=' * 75)
    # print('METODO: Edad de entrada')
    # print(df_EE)

    return df_EE, CU, CN_EE, flujo()

In [26]:
def lx_participantes(salarioP_inicial: float = 29944,
                        tipo_salario: float = .0125, rendimiento_fondo: float = .018,
                        aportacion_inicial: float = 368.77 , fondo_c: float = 1364.68,
                        crecimiento_sala: float = .015, 
                        tabla='perm1', jubilacion: int = 65, capital: float = 1, x=48,m=0,
                        n: int = 120, h: int = 12, birth_year: int = 1973, sexo = 'Hombre', 
                        interes: float = .0125, base_tecnica:float = .0175, 
                        fondo_capitalizacion: float = 3486.75):
    import pandas as pd
    import numpy as np
    if tabla == 'perm1':
        f = 'https://raw.githubusercontent.com/Joevalencia/telma/main/telma/PER2020_Col_1er.orden.csv'
        data = pd.read_csv(f)
    elif tabla == 'perm2':
        f = 'https://raw.githubusercontent.com/Joevalencia/telma/main/telma/PER2020_Ind_2ndo.orden.csv'
        data = pd.read_csv(f)
    else:
        print('Solo se permiten tabla perm1 o tabla perm2')
    datatable = data
    frac_freq = h
    if n == 120:
        n = 120 - (x + m)
    elif n != 120:
        n = n
    else:
        print('Error! Type a new "n" ')
    L = np.repeat(1.0, 121)
    L[0] = 1000000
    fem = datatable.iloc[:, 1] * np.exp(-datatable.iloc[:, 2] * (birth_year + np.arange(0, 121) - 2012))
    macho = datatable.iloc[:, 3] * np.exp(-datatable.iloc[:, 4] * (birth_year + np.arange(0, 121) - 2012))
    tabla = .5 * (fem + macho)
    if sexo == 'Hombre':
        for i in range(0, 120):
            L[i + 1] = L[i] * (1 - (macho[i] / 1000))
    elif sexo == 'Mujer':
        
        for i in range(0, 120):
            L[i + 1] = L[i] * (1 - (fem[i] / 1000))
    elif sexo == 'unisex':
        for i in range(0, 120):
            L[i + 1] = L[i] * (1 - (tabla[i] / 1000))
    else:
        
        print('Error. Ingresar "Hombre", "Mujer" o "unisex"')
    L = np.round(L, 4)   # Tablas perm1 anuales
    
    fr = np.arange(frac_freq) / frac_freq
    jon = np.outer(L[1:], fr)
    jon1 = np.outer(L[:-1], (1 - fr))
    jj = (jon + jon1).flatten().round(1)  ## fraccionamiento
    px = jj[np.arange((jubilacion+1)*h, 120*h)]/jj[jubilacion*h] # px desde la jubilacion
    
    
    return L, px, data1.head(10), data2.head(10) ## lx de los participes y lx fraccionada

In [27]:
b = planex.Prestacion_definina().lx_participantes()
b

(array([1.00000000e+06, 9.90581424e+05, 9.90013252e+05, 9.89542248e+05,
        9.89154005e+05, 9.88835434e+05, 9.88571178e+05, 9.88347410e+05,
        9.88148505e+05, 9.87966683e+05, 9.87792022e+05, 9.87615708e+05,
        9.87446338e+05, 9.87267892e+05, 9.87073786e+05, 9.86853426e+05,
        9.86602211e+05, 9.86316221e+05, 9.85994311e+05, 9.85633594e+05,
        9.85237655e+05, 9.84813664e+05, 9.84369953e+05, 9.83917530e+05,
        9.83462837e+05, 9.83013236e+05, 9.82572144e+05, 9.82139587e+05,
        9.81714147e+05, 9.81295936e+05, 9.80881083e+05, 9.80467439e+05,
        9.80053121e+05, 9.79635322e+05, 9.79212721e+05, 9.78783119e+05,
        9.78342554e+05, 9.77887598e+05, 9.77413398e+05, 9.76913944e+05,
        9.76381418e+05, 9.75809094e+05, 9.75189620e+05, 9.74515894e+05,
        9.73779274e+05, 9.72972840e+05, 9.72087294e+05, 9.71113595e+05,
        9.70041187e+05, 9.68858681e+05, 9.67553216e+05, 9.66114101e+05,
        9.64530931e+05, 9.62796321e+05, 9.60905798e+05, 9.58858808e+05,
        9.56655659e+05, 9.54297956e+05, 9.51788102e+05, 9.49129976e+05,
        9.46330833e+05, 9.43397552e+05, 9.40337672e+05, 9.36921547e+05,
        9.33185123e+05, 9.29170970e+05, 9.24946888e+05, 9.20591621e+05,
        9.16162084e+05, 9.11694917e+05, 9.07188414e+05, 9.02593278e+05,
        8.97817946e+05, 8.92752163e+05, 8.87214788e+05, 8.81079985e+05,
        8.74231311e+05, 8.66563454e+05, 8.57934013e+05, 8.48222184e+05,
        8.37242072e+05, 8.24775815e+05, 8.10671884e+05, 7.94636622e+05,
        7.76568696e+05, 7.56160436e+05, 7.33317495e+05, 7.07636331e+05,
        6.79111911e+05, 6.47861901e+05, 6.14129882e+05, 5.78284000e+05,
        5.40583096e+05, 5.00867865e+05, 4.59124281e+05, 4.15260289e+05,
        3.70014764e+05, 3.24176838e+05, 2.79047764e+05, 2.35751951e+05,
        1.94917874e+05, 1.57160638e+05, 1.23467321e+05, 9.41204794e+04,
        6.92697882e+04, 4.89106910e+04, 3.28717649e+04, 2.08150363e+04,
        1.22638721e+04, 6.78984240e+03, 3.49053760e+03, 1.64036600e+03,
        6.90097400e+02, 2.52517400e+02, 7.71648000e+01, 1.85731000e+01,
        3.24270000e+00, 3.74300000e-01, 2.92000000e-02, 2.00000000e-03,
        0.00000000e+00]),
 array([9.95453905e-01, 9.95063234e-01, 9.94672671e-01, 9.94282107e-01,
        9.93891437e-01, 9.93500873e-01, 9.93110310e-01, 9.92719639e-01,
        9.92329076e-01, 9.91938405e-01, 9.91547842e-01, 9.91157279e-01,
        9.90766608e-01, 9.90369372e-01, 9.89972136e-01, 9.89574793e-01,
        9.89177557e-01, 9.88780321e-01, 9.88383086e-01, 9.87985742e-01,
        9.87588506e-01, 9.87191270e-01, 9.86793927e-01, 9.86396691e-01,
        9.85999455e-01, 9.85598776e-01, 9.85198204e-01, 9.84797524e-01,
        9.84396844e-01, 9.83996272e-01, 9.83595592e-01, 9.83194912e-01,
        9.82794340e-01, 9.82393661e-01, 9.81992981e-01, 9.81592409e-01,
        9.81191729e-01, 9.80787605e-01, 9.80383374e-01, 9.79979250e-01,
        9.79575019e-01, 9.79170895e-01, 9.78766772e-01, 9.78362540e-01,
        9.77958417e-01, 9.77554185e-01, 9.77150062e-01, 9.76745938e-01,
        9.76341707e-01, 9.75929619e-01, 9.75517531e-01, 9.75105336e-01,
        9.74693248e-01, 9.74281160e-01, 9.73868965e-01, 9.73456877e-01,
        9.73044789e-01, 9.72632702e-01, 9.72220506e-01, 9.71808418e-01,
        9.71396331e-01, 9.70967992e-01, 9.70539761e-01, 9.70111422e-01,
        9.69683191e-01, 9.69254960e-01, 9.68826621e-01, 9.68398390e-01,
        9.67970051e-01, 9.67541820e-01, 9.67113481e-01, 9.66685250e-01,
        9.66256911e-01, 9.65802635e-01, 9.65348251e-01, 9.64893975e-01,
        9.64439699e-01, 9.63985316e-01, 9.63531040e-01, 9.63076657e-01,
        9.62622381e-01, 9.62167997e-01, 9.61713721e-01, 9.61259338e-01,
        9.60805062e-01, 9.60308382e-01, 9.59811811e-01, 9.59315131e-01,
        9.58818560e-01, 9.58321880e-01, 9.57825309e-01, 9.57328629e-01,
        9.56832058e-01, 9.56335379e-01, 9.55838807e-01, 9.55342128e-01,
        9.54845556e-01, 9.54295388e-01, 9.53745113e-01, 9.53194945e-01,
        9.52644777e-01, 9.52094501e-01, 9.51544334e-01, 9.50994166e-01,
        9.50443890e-01, 9.49893722e-01, 9.49343555e-01, 9.48793279e-01,
        9.48243111e-01, 9.47628908e-01, 9.47014597e-01, 9.46400393e-01,
        9.45786190e-01, 9.45171987e-01, 9.44557676e-01, 9.43943472e-01,
        9.43329269e-01, 9.42715065e-01, 9.42100862e-01, 9.41486551e-01,
        9.40872348e-01, 9.40184638e-01, 9.39496928e-01, 9.38809218e-01,
        9.38121616e-01, 9.37433906e-01, 9.36746196e-01, 9.36058487e-01,
        9.35370777e-01, 9.34683067e-01, 9.33995357e-01, 9.33307647e-01,
        9.32620045e-01, 9.31846022e-01, 9.31072106e-01, 9.30298191e-01,
        9.29524275e-01, 9.28750359e-01, 9.27976336e-01, 9.27202420e-01,
        9.26428505e-01, 9.25654589e-01, 9.24880673e-01, 9.24106650e-01,
        9.23332734e-01, 9.22461743e-01, 9.21590751e-01, 9.20719760e-01,
        9.19848661e-01, 9.18977669e-01, 9.18106678e-01, 9.17235686e-01,
        9.16364695e-01, 9.15493596e-01, 9.14622604e-01, 9.13751613e-01,
        9.12880622e-01, 9.11895873e-01, 9.10911124e-01, 9.09926375e-01,
        9.08941519e-01, 9.07956770e-01, 9.06972021e-01, 9.05987273e-01,
        9.05002524e-01, 9.04017775e-01, 9.03033026e-01, 9.02048277e-01,
        9.01063529e-01, 8.99945435e-01, 8.98827449e-01, 8.97709356e-01,
        8.96591370e-01, 8.95473277e-01, 8.94355183e-01, 8.93237197e-01,
        8.92119104e-01, 8.91001118e-01, 8.89883025e-01, 8.88765039e-01,
        8.87646946e-01, 8.86382055e-01, 8.85117164e-01, 8.83852165e-01,
        8.82587274e-01, 8.81322383e-01, 8.80057384e-01, 8.78792494e-01,
        8.77527603e-01, 8.76262712e-01, 8.74997713e-01, 8.73732822e-01,
        8.72467931e-01, 8.71029767e-01, 8.69591604e-01, 8.68153548e-01,
        8.66715384e-01, 8.65277220e-01, 8.63839164e-01, 8.62401000e-01,
        8.60962837e-01, 8.59524673e-01, 8.58086617e-01, 8.56648453e-01,
        8.55210290e-01, 8.53589920e-01, 8.51969444e-01, 8.50348967e-01,
        8.48728598e-01, 8.47108121e-01, 8.45487752e-01, 8.43867275e-01,
        8.42246798e-01, 8.40626429e-01, 8.39005953e-01, 8.37385583e-01,
        8.35765107e-01, 8.33934766e-01, 8.32104424e-01, 8.30274083e-01,
        8.28443742e-01, 8.26613508e-01, 8.24783167e-01, 8.22952826e-01,
        8.21122484e-01, 8.19292143e-01, 8.17461802e-01, 8.15631461e-01,
        8.13801119e-01, 8.11752519e-01, 8.09703811e-01, 8.07655103e-01,
        8.05606395e-01, 8.03557687e-01, 8.01509087e-01, 7.99460379e-01,
        7.97411671e-01, 7.95362963e-01, 7.93314363e-01, 7.91265655e-01,
        7.89216947e-01, 7.86913711e-01, 7.84610475e-01, 7.82307239e-01,
        7.80004004e-01, 7.77700768e-01, 7.75397532e-01, 7.73094296e-01,
        7.70791060e-01, 7.68487824e-01, 7.66184588e-01, 7.63881352e-01,
        7.61578116e-01, 7.59019922e-01, 7.56461728e-01, 7.53903426e-01,
        7.51345231e-01, 7.48787037e-01, 7.46228735e-01, 7.43670541e-01,
        7.41112346e-01, 7.38554044e-01, 7.35995850e-01, 7.33437548e-01,
        7.30879354e-01, 7.28076640e-01, 7.25274035e-01, 7.22471321e-01,
        7.19668608e-01, 7.16866002e-01, 7.14063289e-01, 7.11260575e-01,
        7.08457970e-01, 7.05655256e-01, 7.02852543e-01, 7.00049937e-01,
        6.97247224e-01, 6.94221946e-01, 6.91196669e-01, 6.88171391e-01,
        6.85146114e-01, 6.82120837e-01, 6.79095559e-01, 6.76070282e-01,
        6.73045005e-01, 6.70019727e-01, 6.66994450e-01, 6.63969173e-01,
        6.60943895e-01, 6.57728986e-01, 6.54514185e-01, 6.51299276e-01,
        6.48084475e-01, 6.44869567e-01, 6.41654658e-01, 6.38439857e-01,
        6.35224948e-01, 6.32010147e-01, 6.28795238e-01, 6.25580437e-01,
        6.22365528e-01, 6.18984342e-01, 6.15603048e-01, 6.12221862e-01,
        6.08840569e-01, 6.05459383e-01, 6.02078089e-01, 5.98696903e-01,
        5.95315717e-01, 5.91934423e-01, 5.88553237e-01, 5.85171944e-01,
        5.81790758e-01, 5.78228873e-01, 5.74666988e-01, 5.71105103e-01,
        5.67543219e-01, 5.63981334e-01, 5.60419449e-01, 5.56857564e-01,
        5.53295680e-01, 5.49733795e-01, 5.46171910e-01, 5.42610025e-01,
        5.39048141e-01, 5.35304266e-01, 5.31560499e-01, 5.27816731e-01,
        5.24072856e-01, 5.20329089e-01, 5.16585322e-01, 5.12841447e-01,
        5.09097680e-01, 5.05353912e-01, 5.01610037e-01, 4.97866270e-01,
        4.94122503e-01, 4.90188458e-01, 4.86254522e-01, 4.82320585e-01,
        4.78386648e-01, 4.74452603e-01, 4.70518667e-01, 4.66584730e-01,
        4.62650685e-01, 4.58716749e-01, 4.54782812e-01, 4.50848767e-01,
        4.46914831e-01, 4.42856912e-01, 4.38799102e-01, 4.34741183e-01,
        4.30683265e-01, 4.26625454e-01, 4.22567536e-01, 4.18509725e-01,
        4.14451807e-01, 4.10393889e-01, 4.06336078e-01, 4.02278160e-01,
        3.98220349e-01, 3.94109265e-01, 3.89998289e-01, 3.85887312e-01,
        3.81776336e-01, 3.77665252e-01, 3.73554276e-01, 3.69443299e-01,
        3.65332215e-01, 3.61221239e-01, 3.57110263e-01, 3.52999286e-01,
        3.48888202e-01, 3.44840831e-01, 3.40793352e-01, 3.36745981e-01,
        3.32698502e-01, 3.28651131e-01, 3.24603652e-01, 3.20556173e-01,
        3.16508802e-01, 3.12461323e-01, 3.08413952e-01, 3.04366473e-01,
        3.00319102e-01, 2.96436070e-01, 2.92553039e-01, 2.88670008e-01,
        2.84786977e-01, 2.80903946e-01, 2.77021022e-01, 2.73137991e-01,
        2.69254960e-01, 2.65371928e-01, 2.61488897e-01, 2.57605866e-01,
        2.53722942e-01, 2.50060645e-01, 2.46398456e-01, 2.42736159e-01,
        2.39073970e-01, 2.35411781e-01, 2.31749484e-01, 2.28087295e-01,
        2.24424998e-01, 2.20762809e-01, 2.17100620e-01, 2.13438323e-01,
        2.09776134e-01, 2.06389782e-01, 2.03003538e-01, 1.99617293e-01,
        1.96230941e-01, 1.92844697e-01, 1.89458453e-01, 1.86072101e-01,
        1.82685857e-01, 1.79299505e-01, 1.75913260e-01, 1.72527016e-01,
        1.69140664e-01, 1.66118938e-01, 1.63097105e-01, 1.60075271e-01,
        1.57053438e-01, 1.54031712e-01, 1.51009879e-01, 1.47988045e-01,
        1.44966212e-01, 1.41944378e-01, 1.38922653e-01, 1.35900819e-01,
        1.32878986e-01, 1.30247070e-01, 1.27615046e-01, 1.24983023e-01,
        1.22350999e-01, 1.19719083e-01, 1.17087059e-01, 1.14455036e-01,
        1.11823120e-01, 1.09191096e-01, 1.06559073e-01, 1.03927049e-01,
        1.01295133e-01, 9.90663721e-02, 9.68376112e-02, 9.46088503e-02,
        9.23800893e-02, 9.01513284e-02, 8.79225675e-02, 8.56938066e-02,
        8.34651533e-02, 8.12363924e-02, 7.90076315e-02, 7.67788706e-02,
        7.45501097e-02, 7.27241810e-02, 7.08982523e-02, 6.90723236e-02,
        6.72463949e-02, 6.54204662e-02, 6.35945375e-02, 6.17686088e-02,
        5.99427877e-02, 5.81168590e-02, 5.62909303e-02, 5.44650016e-02,
        5.26390729e-02, 5.12005863e-02, 4.97620998e-02, 4.83237208e-02,
        4.68852343e-02, 4.54467477e-02, 4.40082611e-02, 4.25698822e-02,
        4.11313956e-02, 3.96929091e-02, 3.82544225e-02, 3.68159359e-02,
        3.53775570e-02, 3.42961629e-02, 3.32148765e-02, 3.21335900e-02,
        3.10523036e-02, 2.99709096e-02, 2.88896231e-02, 2.78083367e-02,
        2.67269426e-02, 2.56456562e-02, 2.45643697e-02, 2.34830833e-02,
        2.24016892e-02, 2.16347691e-02, 2.08678489e-02, 2.01009287e-02,
        1.93340085e-02, 1.85671959e-02, 1.78002757e-02, 1.70333555e-02,
        1.62664353e-02, 1.54995152e-02, 1.47325950e-02, 1.39656748e-02,
        1.31987546e-02, 1.27077793e-02, 1.22168040e-02, 1.17259363e-02,
        1.12349611e-02, 1.07439858e-02, 1.02531181e-02, 9.76214281e-03,
        9.27116752e-03, 8.78019224e-03, 8.28932457e-03, 7.79834928e-03,
        7.30737399e-03, 7.01151887e-03, 6.71566375e-03, 6.41970100e-03,
        6.12384588e-03, 5.82788313e-03, 5.53202801e-03, 5.23606527e-03,
        4.94021014e-03, 4.64435502e-03, 4.34839228e-03, 4.05253715e-03,
        3.75657441e-03, 3.59072765e-03, 3.42477327e-03, 3.25881888e-03,
        3.09286450e-03, 2.92691012e-03, 2.76106336e-03, 2.59510897e-03,
        2.42915459e-03, 2.26320021e-03, 2.09724582e-03, 1.93129144e-03,
        1.76544468e-03, 1.68020741e-03, 1.59497014e-03, 1.50973287e-03,
        1.42449560e-03, 1.33925833e-03, 1.25402106e-03, 1.16878379e-03,
        1.08365414e-03, 9.98416868e-04, 9.13179598e-04, 8.27942327e-04,
        7.42705056e-04, 7.03422728e-04, 6.64248023e-04, 6.24965695e-04,
        5.85683367e-04, 5.46508662e-04, 5.07226334e-04, 4.67944006e-04,
        4.28769301e-04, 3.89486973e-04, 3.50204645e-04, 3.11029940e-04,
        2.71747612e-04, 2.56034680e-04, 2.40321749e-04, 2.24608818e-04,
        2.08895887e-04, 1.93182956e-04, 1.77362402e-04, 1.61649470e-04,
        1.45936539e-04, 1.30223608e-04, 1.14510677e-04, 9.87977455e-05,
        8.30848143e-05, 7.78112963e-05, 7.25377783e-05, 6.72642603e-05,
        6.19907423e-05, 5.68248471e-05, 5.15513291e-05, 4.62778111e-05,
        4.10042931e-05, 3.57307751e-05, 3.04572571e-05, 2.52913619e-05,
        2.00178439e-05, 1.86187472e-05, 1.72196506e-05, 1.58205540e-05,
        1.45290802e-05, 1.31299836e-05, 1.17308870e-05, 1.03317904e-05,
        9.04031658e-06, 7.64121997e-06, 6.24212336e-06, 4.84302674e-06,
        3.44393013e-06, 3.22868449e-06, 3.01343886e-06, 2.69057041e-06,
        2.47532478e-06, 2.15245633e-06, 1.93721070e-06, 1.72196506e-06,
        1.39909661e-06, 1.18385098e-06, 9.68605348e-07, 6.45736899e-07,
        4.30491266e-07, 3.22868449e-07, 3.22868449e-07, 3.22868449e-07,
        3.22868449e-07, 2.15245633e-07, 2.15245633e-07, 2.15245633e-07,
        1.07622816e-07, 1.07622816e-07, 1.07622816e-07, 1.07622816e-07,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00]),
       Antoni       Pere      Marta    Claudia       Marc      Maria
 0  1000000.0  1000000.0  1000000.0  1000000.0  1000000.0  1000000.0
 1   990581.4   993160.7   982276.3   995072.2   995228.4   996123.6
 2   990013.3   992747.1   981161.7   994758.2   994939.2   995876.4
 3   989542.2   992404.1   980246.9   994500.3   994699.4   995673.3
 4   989154.0   992121.4   979510.5   994292.6   994501.7   995509.7
 5   988835.4   991889.3   978919.0   994125.7   994339.4   995378.2
 6   988571.2   991696.9   978442.4   993991.1   994204.8   995272.3
 7   988347.4   991533.8   978047.5   993879.6   994090.8   995184.4
 8   988148.5   991388.9   977704.3   993782.6   993989.4   995108.0
 9   987966.7   991256.5   977404.7   993696.6   993896.8   995040.1,
       Antoni       Pere      Marta    Claudia       Marc      Maria
 0  1000000.0  1000000.0  1000000.0  1000000.0  1000000.0  1000000.0
 1   999215.1   999430.1   998523.0   999589.3   999602.4   999677.0
 2   998430.2   998860.1   997046.1   999178.7   999204.7   999353.9
 3   997645.4   998290.2   995569.1   998768.0   998807.1   999030.9
 4   996860.5   997720.2   994092.1   998357.4   998409.5   998707.9
 5   996075.6   997150.3   992615.1   997946.7   998011.8   998384.8
 6   995290.7   996580.4   991138.2   997536.1   997614.2   998061.8
 7   994505.8   996010.4   989661.2   997125.4   997216.6   997738.8
 8   993720.9   995440.5   988184.2   996714.8   996818.9   997415.7
 9   992936.1   994870.5   986707.2   996304.1   996421.3   997092.7)

###### Ejempo de lo que contienen la sub-funciones

In [50]:
data1.Antoni[65]

929171.0

In [16]:
data2.Antoni[65*12]

929171.0

In [4]:
px = (data2.iloc[65*12+1:]/data2.iloc[65*12]).reset_index()  ## Matriz de px mensuales Participes
px

     index    Antoni      Pere     Marta   Claudia      Marc     Maria
0      781  0.999621  0.999683  0.999737  0.999876  0.999740  0.999893
1      782  0.999242  0.999365  0.999474  0.999753  0.999480  0.999785
2      783  0.998863  0.999048  0.999212  0.999629  0.999220  0.999678
3      784  0.998485  0.998731  0.998949  0.999505  0.998961  0.999571
4      785  0.998106  0.998414  0.998686  0.999382  0.998701  0.999463
..     ...       ...       ...       ...       ...       ...       ...
655   1436  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
656   1437  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
657   1438  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
658   1439  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
659   1440  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000

[660 rows x 7 columns]

In [61]:
px.head()

   index    Antoni      Pere     Marta   Claudia      Marc     Maria
0    781  0.999621  0.999683  0.999737  0.999876  0.999740  0.999893
1    782  0.999242  0.999365  0.999474  0.999753  0.999480  0.999785
2    783  0.998863  0.999048  0.999212  0.999629  0.999220  0.999678
3    784  0.998485  0.998731  0.998949  0.999505  0.998961  0.999571
4    785  0.998106  0.998414  0.998686  0.999382  0.998701  0.999463

In [30]:
def variation_capital():
    import numpy as np
    import pandas as pd
    var = np.roll(np.round(467.96*1.01**np.floor(np.arange(0,673) / 12 ), 2),-6)
    var[-6:] = var[-7]
    var[0] = 0
    
    return var.head(20),ok#, ok1
variation_capital()

(0       0.00
 1     467.96
 2     467.96
 3     467.96
 4     467.96
 5     467.96
 6     472.64
 7     472.64
 8     472.64
 9     472.64
 10    472.64
 11    472.64
 12    472.64
 13    472.64
 14    472.64
 15    472.64
 16    472.64
 17    472.64
 18    477.37
 19    477.37
 dtype: float64,
      Unnamed: 0  Joan_var  Pere_var  Marta_var  Claudia_var  Marc_var  \
 0             0      0.00      0.00       0.00         0.00      0.00
 1             1    467.96    671.62     752.15       729.40    975.68
 2             2    467.96    671.62     752.15       740.34    975.68
 3             3    467.96    671.62     752.15       740.34    975.68
 4             4    467.96    671.62     752.15       740.34    975.68
 ..          ...       ...       ...        ...          ...       ...
 655         655   1045.62   1478.50    1680.62      1629.79   2180.09
 656         656   1045.62   1478.50    1680.62      1629.79   2180.09
 657         657   1045.62   1478.50    1680.62      1629.79   2180.09
 658         658   1045.62   1478.50    1680.62      1629.79   2180.09
 659         659   1045.62   1478.50    1680.62      1629.79   2180.09

      Maria_var
 0         0.00
 1       783.82
 2       783.82
 3       783.82
 4       795.58
 ..         ...
 655    1751.39
 656    1751.39
 657    1751.39
 658    1751.39
 659    1751.39

 [660 rows x 7 columns])

In [32]:
d = variation_capital()
d[1]

,Unnamed: 0,Joan_var,Pere_var,Marta_var,Claudia_var,Marc_var,Maria_var
0,0,0.00,0.00,0.00,0.00,0.00,0.00
1,1,467.96,671.62,752.15,729.40,975.68,783.82
2,2,467.96,671.62,752.15,740.34,975.68,783.82
3,3,467.96,671.62,752.15,740.34,975.68,783.82
4,4,467.96,671.62,752.15,740.34,975.68,795.58
...,...,...,...,...,...,...,...
655,655,1045.62,1478.50,1680.62,1629.79,2180.09,1751.39
656,656,1045.62,1478.50,1680.62,1629.79,2180.09,1751.39
657,657,1045.62,1478.50,1680.62,1629.79,2180.09,1751.39
658,658,1045.62,1478.50,1680.62,1629.79,2180.09,1751.39
659,659,1045.62,1478.50,1680.62,1629.79,2180.09,1751.39