In [1]:
import pandas as pd
import numpy as np

In [21]:
from datetime import datetime

In [19]:
sal = pd.Series(np.array([29066, 36483,58406,35173,46354,34567]))
in1 = 1.02
eda = np.array([46, 38, 63, 30, 30, 24])
proyec = round(sal*(in1)**(65-1-eda), 2)
pj = round(.25*proyec/12, 2)
proyec

0    41513.41
1    61051.31
2    59574.12
3    68962.86
4    90885.18
5    76325.31
dtype: float64

In [6]:
def prestacion_definida(tabla = 'perm1',  rvs = .02, rvp = .01,  h=1,
                        tipo_int= .02, beta=.25, edad_jubilacion = 65):
    def lx_participes():

        raw1 = 'https://raw.githubusercontent.com/Joevalencia/Planes_pensione_ALM/main/Participes_aportacion.csv'
        data1 = pd.read_csv(raw1)
        raw2 = 'https://raw.githubusercontent.com/Joevalencia/Planes_pensione_ALM/main/approximation_planex.csv'
        data2 = pd.read_csv(raw2)
        del data1['Unnamed: 0']
        del data2['Unnamed: 0']
        return data1, data2


    l1, l2 = [], []
    l3, l4 = [], []
    l5 = []
    participe = int(input('Ingresar el nùmero de participes del plan: '))
    for i in range(0, participe):
        
        p1 = str(input(f'Poner el nombre del participe del Plan numero {i+1}: '))
        p2 = str(input(f'Ingresar la fecha de nacimiento {p1}: '))
        p3 = str(input(f'Ingresar la fecha de alta en la empresa de {p1}: '))
        p4 = float(input(f'Ingresar el salario pensionable 2021 de {p1}: '))
        p5 = str(input(f'Ingresar el Sexo de {p1}: '))
        print('='*55)
        l1.append(p1)
        l2.append(p2)
        l3.append(p3)
        l4.append(p4)
        l5.append(p5)

    array1 = []
    for i in range(0, participe):
        array1.append(int(l2[i].split('/')[2]))

    array2 = []
    for i in range(0, participe):
        array2.append(int(l3[i].split('/')[2]))
    an1 = [46, 38, 63, 30, 30, 24] ## edad actuarial  # AAA poner manualmente poner esto
    an2 = [25, 37, 29, 26, 20, 23] ## edad entradad actuarial  # AAA poner manualmente esto
    edad = [x-y for(x, y) in zip(array2, array1)] ## edad actuarial 2
    r1 = 1+rvs  ## Revalorizaciòn salarios
    r2 = 1+rvp  ## Revalorizaciòn pensiones 
    interes = (1+tipo_int)  ##interés
    t1 = np.arange(0, 660)  ## mensilidad
    interes2 = interes**(1/12)  ## fraccionamiento 1/h
    interes3 = interes2**-t1  ## intereses mensuales
    df = pd.DataFrame({'Participe':pd.Series(l1), 'Sexo': pd.Series(l5),'Nacimiento':pd.Series(l2), 
                       'Alta':pd.Series(l3), 'Salario 2021':pd.Series(l4), 
                      'Edad actuarial':pd.Series(an1), 'Edad entrada':pd.Series(an2)})
    proyec = round(df['Salario 2021']*(interes)**(edad_jubilacion-1-df['Edad actuarial']), 2)
    pj = round(.25*proyec/12, 2)
    df['Proyectado'] = proyec
    df['PJ corriente'] = pj
    print('='*55)
    print('Hipotesis')
    print(f'Interés técnico valoración: {tipo_int*100}%')
    print(f'Revalorizaciòn Salario: {rvs*100}%')
    print(f'Revalorización Pensión: {rvp*100}%')
    print(f'Beta Pension: {beta}')
    return df

In [7]:
b1 = prestacion_definida()

Ingresar el nùmero de participes del plan: 2
Poner el nombre del participe del Plan numero 1: Joan
Ingresar la fecha de nacimiento Joan: 06/07/1973
Ingresar la fecha de alta en la empresa de Joan: 15/02/1998
Ingresar el salario pensionable 2021 de Joan: 29944
Ingresar el Sexo de Joan: Hombre
=======================================================
Poner el nombre del participe del Plan numero 2: Pere
Ingresar la fecha de nacimiento Pere: 03/12/1981
Ingresar la fecha de alta en la empresa de Pere: 08/03/2019
Ingresar el salario pensionable 2021 de Pere: 37586
Ingresar el Sexo de Pere: Hombre
=======================================================
=======================================================
Hipotesis
Interés técnico valoración: 2.0%
Revalorizaciòn Salario: 2.0%
Revalorización Pensión: 1.0%
Beta Pension: 0.25

In [8]:
b1

,Participe,Sexo,Nacimiento,Alta,Salario 2021,Edad actuarial,Edad entrada,Proyectado,PJ corriente
0,Joan,Hombre,06/07/1973,15/02/1998,29944.0,46,25,42767.41,890.99
1,Pere,Hombre,03/12/1981,08/03/2019,37586.0,38,37,62897.09,1310.36
2,NaN,NaN,NaN,NaN,NaN,63,29,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,30,26,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,30,20,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,24,23,NaN,NaN

In [52]:
b1 = pd.Series(['Hombre', 'Mujer', 'Hombre', 'Mujer'], name='Sexo')
b1

0    Hombre
1     Mujer
2    Hombre
3     Mujer
Name: Sexo, dtype: object

In [4]:
d1 = df.dropna()
d1

,Participe,Nacimiento,Alta,Salario 2021,Edad actuarial,Edad entrada
0,Antoni,06/07/1973,04/03/1992,29066.0,46,25

In [6]:
np.round(d1['Salario 2021']*r1**(65-1-d1['Edad actuarial']), 2)

0    41513.41
dtype: float64

In [76]:
array1 = []
for i in range(0, 3):
    array1.append(int(l2[i].split('/')[2]))

In [77]:
array1

[1973, 1989, 1995]

In [78]:
array2 = []
for i in range(0, 3):
    array2.append(int(l3[i].split('/')[2]))

In [81]:
[x-y for(x, y) in zip(array2, array1)]

[19, 21, 24]

In [38]:
pd.to_datetime(s, infer_datetime_format=True)

0   2000-03-11
1   2000-03-12
2   2000-03-13
dtype: datetime64[ns]

# Planes de pensiones

### Aportaciò definida

In [13]:
def aportacion_definida( salarioP_inicial: float = 29944,
                        tipo_salario: float = .0125, rendimiento_fondo: float = .018,
                        aportacion_inicial: float = 368.77 , fondo_c: float = 1364.68,
                        crecimiento_sala: float = .015, 
                        tabla='perm1', jubilacion: int = 65, capital: float = 1, x=48,m=0,
                        n: int = 120, h: int = 12, birth_year: int = 1973, sexo = 'Hombre', 
                        interes: float = .0125, base_tecnica:float = .0175, 
                        fondo_capitalizacion: float = 3486.75):
    import pandas as pd
    import numpy as np
    if tabla == 'perm1':
        f = 'https://raw.githubusercontent.com/Joevalencia/telma/main/telma/PER2020_Col_1er.orden.csv'
        data = pd.read_csv(f)
    elif tabla == 'perm2':
        f = 'https://raw.githubusercontent.com/Joevalencia/telma/main/telma/PER2020_Ind_2ndo.orden.csv'
        data = pd.read_csv(f)
    else:
        print('Solo se permiten tabla perm1 o tabla perm2')
    datatable = data
    frac_freq = h
    if n == 120:
        n = 120 - (x + m)
    elif n != 120:
        n = n
    else:
        print('Error! Type a new "n" ')
    L = np.repeat(1.0, 121)
    L[0] = 1000000
    fem = datatable.iloc[:, 1] * np.exp(-datatable.iloc[:, 2] * (birth_year + np.arange(0, 121) - 2012))
    macho = datatable.iloc[:, 3] * np.exp(-datatable.iloc[:, 4] * (birth_year + np.arange(0, 121) - 2012))
    tabla = .5 * (fem + macho)
    if sexo == 'Hombre':
        for i in range(0, 120):
            L[i + 1] = L[i] * (1 - (macho[i] / 1000))
    elif sexo == 'Mujer':
        
        for i in range(0, 120):
            L[i + 1] = L[i] * (1 - (fem[i] / 1000))
    elif sexo == 'unisex':
        for i in range(0, 120):
            L[i + 1] = L[i] * (1 - (tabla[i] / 1000))
    else:
        
        print('Error. Ingresar "Hombre", "Mujer" o "unisex"')
    L = np.round(L, 4)   # Tablas perm1 anuales
    
    fr = np.arange(frac_freq) / frac_freq
    jon = np.outer(L[1:], fr)
    jon1 = np.outer(L[:-1], (1 - fr))
    jj = (jon + jon1).flatten().round(1)  ## fraccionamiento
      
    t2 = np.arange(jubilacion, 120)  # Edad
    px = jj[np.arange((jubilacion+1)*h, 120*h)]/jj[jubilacion*h] # px desde la jubilacion?
    t = np.arange(0, len(px))       # Temporalidad
   
    return L, px

In [62]:
t1 = np.arange(0, 660)  ## mensilidad
interes = 1.0125  # Interes (1+interes)
interes2 = interes**(1/12)  ## fraccionamiento 1/h
interes3 = interes2**-t1
len(interes3)  # factor financiero

660

In [14]:
b = aportacion_definida()

In [15]:
b[0]

array([1.00000000e+06, 9.90581424e+05, 9.90013252e+05, 9.89542248e+05,
       9.89154005e+05, 9.88835434e+05, 9.88571178e+05, 9.88347410e+05,
       9.88148505e+05, 9.87966683e+05, 9.87792022e+05, 9.87615708e+05,
       9.87446338e+05, 9.87267892e+05, 9.87073786e+05, 9.86853426e+05,
       9.86602211e+05, 9.86316221e+05, 9.85994311e+05, 9.85633594e+05,
       9.85237655e+05, 9.84813664e+05, 9.84369953e+05, 9.83917530e+05,
       9.83462837e+05, 9.83013236e+05, 9.82572144e+05, 9.82139587e+05,
       9.81714147e+05, 9.81295936e+05, 9.80881083e+05, 9.80467439e+05,
       9.80053121e+05, 9.79635322e+05, 9.79212721e+05, 9.78783119e+05,
       9.78342554e+05, 9.77887598e+05, 9.77413398e+05, 9.76913944e+05,
       9.76381418e+05, 9.75809094e+05, 9.75189620e+05, 9.74515894e+05,
       9.73779274e+05, 9.72972840e+05, 9.72087294e+05, 9.71113595e+05,
       9.70041187e+05, 9.68858681e+05, 9.67553216e+05, 9.66114101e+05,
       9.64530931e+05, 9.62796321e+05, 9.60905798e+05, 9.58858808e+05,
       9.56655659e+05, 9.54297956e+05, 9.51788102e+05, 9.49129976e+05,
       9.46330833e+05, 9.43397552e+05, 9.40337672e+05, 9.36921547e+05,
       9.33185123e+05, 9.29170970e+05, 9.24946888e+05, 9.20591621e+05,
       9.16162084e+05, 9.11694917e+05, 9.07188414e+05, 9.02593278e+05,
       8.97817946e+05, 8.92752163e+05, 8.87214788e+05, 8.81079985e+05,
       8.74231311e+05, 8.66563454e+05, 8.57934013e+05, 8.48222184e+05,
       8.37242072e+05, 8.24775815e+05, 8.10671884e+05, 7.94636622e+05,
       7.76568696e+05, 7.56160436e+05, 7.33317495e+05, 7.07636331e+05,
       6.79111911e+05, 6.47861901e+05, 6.14129882e+05, 5.78284000e+05,
       5.40583096e+05, 5.00867865e+05, 4.59124281e+05, 4.15260289e+05,
       3.70014764e+05, 3.24176838e+05, 2.79047764e+05, 2.35751951e+05,
       1.94917874e+05, 1.57160638e+05, 1.23467321e+05, 9.41204794e+04,
       6.92697882e+04, 4.89106910e+04, 3.28717649e+04, 2.08150363e+04,
       1.22638721e+04, 6.78984240e+03, 3.49053760e+03, 1.64036600e+03,
       6.90097400e+02, 2.52517400e+02, 7.71648000e+01, 1.85731000e+01,
       3.24270000e+00, 3.74300000e-01, 2.92000000e-02, 2.00000000e-03,
       0.00000000e+00])

In [3]:
raw1 = 'https://raw.githubusercontent.com/Joevalencia/Planes_pensione_ALM/main/Participes_aportacion.csv'
data1 = pd.read_csv(raw1)
raw2 = 'https://raw.githubusercontent.com/Joevalencia/Planes_pensione_ALM/main/approximation_planex.csv'
data2 = pd.read_csv(raw2)
del data1['Unnamed: 0']
del data2['Unnamed: 0']

In [13]:
data2.head()

      Antoni       Pere      Marta    Claudia       Marc      Maria
0  1000000.0  1000000.0  1000000.0  1000000.0  1000000.0  1000000.0
1   999215.1   999430.1   998523.0   999589.3   999602.4   999677.0
2   998430.2   998860.1   997046.1   999178.7   999204.7   999353.9
3   997645.4   998290.2   995569.1   998768.0   998807.1   999030.9
4   996860.5   997720.2   994092.1   998357.4   998409.5   998707.9

In [50]:
data1.Antoni[65]

929171.0

In [16]:
data2.Antoni[65*12]

929171.0

In [4]:
px = (data2.iloc[65*12+1:]/data2.iloc[65*12]).reset_index()  ## Matriz de px mensuales Participes
px

     index    Antoni      Pere     Marta   Claudia      Marc     Maria
0      781  0.999621  0.999683  0.999737  0.999876  0.999740  0.999893
1      782  0.999242  0.999365  0.999474  0.999753  0.999480  0.999785
2      783  0.998863  0.999048  0.999212  0.999629  0.999220  0.999678
3      784  0.998485  0.998731  0.998949  0.999505  0.998961  0.999571
4      785  0.998106  0.998414  0.998686  0.999382  0.998701  0.999463
..     ...       ...       ...       ...       ...       ...       ...
655   1436  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
656   1437  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
657   1438  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
658   1439  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
659   1440  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000

[660 rows x 7 columns]

890.99

In [ ]:
f = ['m', 'n']
for i in f:
    var = np.roll(np.round(b1['PJ corriente'][i]*1.01**np.floor(np.arange(0,660) / 12 ), 2),-6)
    var[-6:] = var[-7]
    var[0] = 0
    var = pd.Series(var)

In [63]:
var = np.roll(np.round(b1['PJ corriente'][0]*1.01**np.floor(np.arange(0,660) / 12 ), 2),-6)
var[-6:] = var[-7]
var[0] = 0
var = pd.Series(var)
len(var)

660

In [70]:
for i in np.array([6, 7, 5]):
    print(i)

6
7
5

In [61]:
px.head()

   index    Antoni      Pere     Marta   Claudia      Marc     Maria
0    781  0.999621  0.999683  0.999737  0.999876  0.999740  0.999893
1    782  0.999242  0.999365  0.999474  0.999753  0.999480  0.999785
2    783  0.998863  0.999048  0.999212  0.999629  0.999220  0.999678
3    784  0.998485  0.998731  0.998949  0.999505  0.998961  0.999571
4    785  0.998106  0.998414  0.998686  0.999382  0.998701  0.999463

In [68]:
minidf = pd.DataFrame({'int Antoni':interes3, 'anual Antoni ':var}).join(pd.Series(px['Antoni']
                                                                                         , name='actual Antoni'))#.fillna(0)
minidf
#minidf.to_csv( 'Antoni.csv')

In [65]:
var[520]

1366.76

In [66]:
VAA = round(sum(np.array(minidf['anual Antoni '])*np.array(minidf['actual Antoni'])*np.array(minidf['int Antoni'])),2)  ##Valor actual Actuarial
VAA

282648.57

In [14]:
VAA = round(sum(np.array(minidf['var'])*np.array(minidf['act'])*np.array(minidf['int'])),2)  ##Valor actual Actuarial
VAA

265476.78

In [21]:
round((VAA*(interes**-(2037-2021+1))*.9578675),2)  ##VAA de las obligaciones del Plan de Pensiones a 31/12/2021.

205881.08

In [22]:
round((VAA*(interes**-(2037-1998+1))*0.9452273),2)  #VAA de las obligaciones a 1992

152672.75

In [167]:
round(sum(np.array(minidf['var'])*np.array(minidf['act'])*np.array(minidf['int'])),2)  ##Valor actual Actuarial

265476.78

In [134]:
interes3

array([1.        , 0.99896533, 0.99793172, 0.99689919, 0.99586772,
       0.99483732, 0.99380799, 0.99277972, 0.99175252, 0.99072638,
       0.9897013 , 0.98867728, 0.98765432, 0.98663242, 0.98561158,
       0.98459179, 0.98357306, 0.98255538, 0.98153876, 0.98052318,
       0.97950866, 0.97849519, 0.97748276, 0.97647139, 0.97546106,
       0.97445177, 0.97344353, 0.97243634, 0.97143018, 0.97042507,
       0.96942099, 0.96841796, 0.96741596, 0.966415  , 0.96541508,
       0.96441619, 0.96341833, 0.9624215 , 0.96142571, 0.96043095,
       0.95943722, 0.95844451, 0.95745283, 0.95646218, 0.95547255,
       0.95448395, 0.95349637, 0.95250981, 0.95152428, 0.95053976,
       0.94955626, 0.94857378, 0.94759231, 0.94661186, 0.94563243,
       0.94465401, 0.9436766 , 0.9427002 , 0.94172481, 0.94075043,
       0.93977706, 0.9388047 , 0.93783334, 0.93686299, 0.93589364,
       0.9349253 , 0.93395795, 0.93299161, 0.93202627, 0.93106192,
       0.93009858, 0.92913623, 0.92817488, 0.92721452, 0.92625515,
       0.92529678, 0.9243394 , 0.92338301, 0.92242761, 0.9214732 ,
       0.92051977, 0.91956733, 0.91861588, 0.91766541, 0.91671593,
       0.91576742, 0.9148199 , 0.91387336, 0.9129278 , 0.91198322,
       0.91103961, 0.91009698, 0.90915533, 0.90821465, 0.90727494,
       0.90633621, 0.90539845, 0.90446165, 0.90352583, 0.90259098,
       0.90165709, 0.90072417, 0.89979221, 0.89886122, 0.89793119,
       0.89700212, 0.89607402, 0.89514687, 0.89422069, 0.89329546,
       0.89237119, 0.89144788, 0.89052552, 0.88960411, 0.88868366,
       0.88776417, 0.88684562, 0.88592802, 0.88501138, 0.88409568,
       0.88318093, 0.88226712, 0.88135426, 0.88044235, 0.87953138,
       0.87862135, 0.87771226, 0.87680411, 0.87589691, 0.87499064,
       0.87408531, 0.87318092, 0.87227746, 0.87137493, 0.87047335,
       0.86957269, 0.86867296, 0.86777417, 0.86687631, 0.86597937,
       0.86508337, 0.86418829, 0.86329413, 0.8624009 , 0.8615086 ,
       0.86061722, 0.85972676, 0.85883722, 0.85794861, 0.85706091,
       0.85617413, 0.85528827, 0.85440332, 0.8535193 , 0.85263618,
       0.85175398, 0.85087269, 0.84999232, 0.84911285, 0.8482343 ,
       0.84735665, 0.84647991, 0.84560408, 0.84472915, 0.84385514,
       0.84298202, 0.84210981, 0.8412385 , 0.84036809, 0.83949858,
       0.83862998, 0.83776227, 0.83689546, 0.83602954, 0.83516452,
       0.8343004 , 0.83343717, 0.83257483, 0.83171339, 0.83085284,
       0.82999318, 0.8291344 , 0.82827652, 0.82741952, 0.82656341,
       0.82570819, 0.82485385, 0.82400039, 0.82314782, 0.82229613,
       0.82144532, 0.8205954 , 0.81974635, 0.81889818, 0.81805088,
       0.81720447, 0.81635893, 0.81551426, 0.81467047, 0.81382755,
       0.8129855 , 0.81214433, 0.81130402, 0.81046459, 0.80962602,
       0.80878832, 0.80795149, 0.80711552, 0.80628042, 0.80544618,
       0.80461281, 0.8037803 , 0.80294865, 0.80211786, 0.80128792,
       0.80045885, 0.79963064, 0.79880328, 0.79797678, 0.79715113,
       0.79632634, 0.7955024 , 0.79467932, 0.79385708, 0.7930357 ,
       0.79221517, 0.79139548, 0.79057664, 0.78975866, 0.78894151,
       0.78812521, 0.78730976, 0.78649515, 0.78568139, 0.78486846,
       0.78405638, 0.78324514, 0.78243473, 0.78162517, 0.78081644,
       0.78000855, 0.77920149, 0.77839527, 0.77758989, 0.77678534,
       0.77598162, 0.77517873, 0.77437667, 0.77357544, 0.77277504,
       0.77197547, 0.77117673, 0.77037881, 0.76958172, 0.76878546,
       0.76799001, 0.76719539, 0.7664016 , 0.76560862, 0.76481646,
       0.76402513, 0.76323461, 0.76244491, 0.76165603, 0.76086796,
       0.76008071, 0.75929428, 0.75850865, 0.75772385, 0.75693985,
       0.75615666, 0.75537429, 0.75459272, 0.75381196, 0.75303201,
       0.75225287, 0.75147453, 0.750697  , 0.74992027, 0.74914435,
       0.74836923, 0.74759491, 0.74682139, 0.74604868, 0.74527676,
       0.74450564, 0.74373532, 0.7429658 , 0.74219707, 0.74142914,
       0.740662  , 0.73989565, 0.7391301 , 0.73836534, 0.73760138,
       0.7368382 , 0.73607581, 0.73531421, 0.7345534 , 0.73379338,
       0.73303414, 0.73227569, 0.73151802, 0.73076114, 0.73000504,
       0.72924972, 0.72849519, 0.72774143, 0.72698846, 0.72623626,
       0.72548484, 0.7247342 , 0.72398434, 0.72323525, 0.72248694,
       0.7217394 , 0.72099263, 0.72024664, 0.71950142, 0.71875697,
       0.71801329, 0.71727038, 0.71652824, 0.71578687, 0.71504626,
       0.71430642, 0.71356734, 0.71282903, 0.71209149, 0.71135471,
       0.71061869, 0.70988343, 0.70914893, 0.70841519, 0.70768221,
       0.70694999, 0.70621853, 0.70548782, 0.70475787, 0.70402868,
       0.70330024, 0.70257255, 0.70184562, 0.70111943, 0.700394  ,
       0.69966932, 0.69894539, 0.69822221, 0.69749978, 0.6967781 ,
       0.69605716, 0.69533696, 0.69461752, 0.69389881, 0.69318085,
       0.69246364, 0.69174716, 0.69103143, 0.69031644, 0.68960219,
       0.68888867, 0.6881759 , 0.68746386, 0.68675256, 0.68604199,
       0.68533216, 0.68462307, 0.6839147 , 0.68320708, 0.68250018,
       0.68179401, 0.68108858, 0.68038387, 0.6796799 , 0.67897665,
       0.67827413, 0.67757234, 0.67687127, 0.67617093, 0.67547131,
       0.67477242, 0.67407425, 0.6733768 , 0.67268008, 0.67198407,
       0.67128879, 0.67059422, 0.66990038, 0.66920725, 0.66851484,
       0.66782314, 0.66713216, 0.6664419 , 0.66575235, 0.66506351,
       0.66437539, 0.66368797, 0.66300127, 0.66231528, 0.66163   ,
       0.66094543, 0.66026157, 0.65957841, 0.65889596, 0.65821422,
       0.65753318, 0.65685285, 0.65617322, 0.65549429, 0.65481607,
       0.65413855, 0.65346173, 0.65278561, 0.65211019, 0.65143547,
       0.65076144, 0.65008812, 0.64941549, 0.64874355, 0.64807232,
       0.64740177, 0.64673192, 0.64606277, 0.6453943 , 0.64472653,
       0.64405945, 0.64339305, 0.64272735, 0.64206234, 0.64139801,
       0.64073437, 0.64007142, 0.63940916, 0.63874758, 0.63808668,
       0.63742647, 0.63676694, 0.63610809, 0.63544993, 0.63479245,
       0.63413564, 0.63347952, 0.63282407, 0.63216931, 0.63151522,
       0.6308618 , 0.63020907, 0.62955701, 0.62890562, 0.62825491,
       0.62760487, 0.6269555 , 0.62630681, 0.62565878, 0.62501143,
       0.62436475, 0.62371873, 0.62307339, 0.62242871, 0.6217847 ,
       0.62114135, 0.62049867, 0.61985666, 0.61921531, 0.61857462,
       0.6179346 , 0.61729524, 0.61665654, 0.6160185 , 0.61538112,
       0.6147444 , 0.61410834, 0.61347294, 0.6128382 , 0.61220411,
       0.61157068, 0.6109379 , 0.61030578, 0.60967431, 0.6090435 ,
       0.60841334, 0.60778383, 0.60715497, 0.60652676, 0.6058992 ,
       0.60527229, 0.60464603, 0.60402042, 0.60339546, 0.60277114,
       0.60214747, 0.60152444, 0.60090206, 0.60028032, 0.59965923,
       0.59903878, 0.59841897, 0.5977998 , 0.59718127, 0.59656338,
       0.59594613, 0.59532952, 0.59471355, 0.59409821, 0.59348352,
       0.59286945, 0.59225603, 0.59164323, 0.59103108, 0.59041955,
       0.58980866, 0.5891984 , 0.58858877, 0.58797977, 0.58737141,
       0.58676367, 0.58615656, 0.58555008, 0.58494422, 0.584339  ,
       0.5837344 , 0.58313042, 0.58252707, 0.58192435, 0.58132224,
       0.58072076, 0.58011991, 0.57951967, 0.57892006, 0.57832106,
       0.57772269, 0.57712494, 0.5765278 , 0.57593128, 0.57533538,
       0.57474009, 0.57414543, 0.57355137, 0.57295793, 0.57236511,
       0.5717729 , 0.5711813 , 0.57059031, 0.56999994, 0.56941017,
       0.56882102, 0.56823247, 0.56764454, 0.56705721, 0.56647049,
       0.56588438, 0.56529887, 0.56471397, 0.56412968, 0.56354599,
       0.5629629 , 0.56238042, 0.56179854, 0.56121726, 0.56063658,
       0.5600565 , 0.55947703, 0.55889815, 0.55831987, 0.55774219,
       0.55716511, 0.55658863, 0.55601274, 0.55543745, 0.55486275,
       0.55428865, 0.55371514, 0.55314223, 0.5525699 , 0.55199817,
       0.55142704, 0.55085649, 0.55028653, 0.54971716, 0.54914839,
       0.5485802 , 0.54801259, 0.54744558, 0.54687915, 0.54631331,
       0.54574805, 0.54518338, 0.54461929, 0.54405579, 0.54349287,
       0.54293053, 0.54236878, 0.5418076 , 0.54124701, 0.54068699,
       0.54012756, 0.5395687 , 0.53901042, 0.53845272, 0.5378956 ,
       0.53733905, 0.53678308, 0.53622769, 0.53567287, 0.53511862,
       0.53456494, 0.53401184, 0.53345932, 0.53290736, 0.53235597,
       0.53180516, 0.53125491, 0.53070524, 0.53015613, 0.52960759,
       0.52905962, 0.52851222, 0.52796538, 0.52741911, 0.5268734 ,
       0.52632826, 0.52578368, 0.52523966, 0.52469621, 0.52415332,
       0.52361099, 0.52306923, 0.52252802, 0.52198737, 0.52144729,
       0.52090776, 0.52036879, 0.51983038, 0.51929252, 0.51875522,
       0.51821848, 0.51768229, 0.51714666, 0.51661158, 0.51607706,
       0.51554309, 0.51500967, 0.5144768 , 0.51394448, 0.51341272,
       0.5128815 , 0.51235084, 0.51182072, 0.51129115, 0.51076213,
       0.51023366, 0.50970574, 0.50917836, 0.50865152, 0.50812523,
       0.50759949, 0.50707429, 0.50654963, 0.50602552, 0.50550195,
       0.50497892, 0.50445643, 0.50393448, 0.50341307, 0.5028922 ,
       0.50237187, 0.50185208, 0.50133283, 0.50081411, 0.50029593,
       0.49977829, 0.49926118])

In [137]:
var = np.roll(np.round(864.85*1.01**np.floor(np.arange(0,673) / 12 ), 2),-6)
var[-6:] = var[-7]
var[0] = 0
var = pd.Series(var)
var.tail(8)

665    1494.91
666    1509.86
667    1509.86
668    1509.86
669    1509.86
670    1509.86
671    1509.86
672    1509.86
dtype: float64

In [61]:
int('06/07'.split('/')[1])  ## split meses

7

In [64]:
len(var)

607